In [172]:
#import necessary modules
import pandas as pd
from pathlib import Path

In [174]:
# Create csv path
csvpath = Path('budget_data.csv')

In [176]:
# Read in the csv as Data frame
budget_data = pd.read_csv(csvpath)
budget_data.head(10)

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503
5  Jun-10         522857
6  Jul-10        1033096
7  Aug-10         604885
8  Sep-10        -216386
9  Oct-10         477532

In [166]:
# Defining budget_data Variables 
total_month = []
total_month = 0
profit_loss = 0 
revenue = 0
revenue = []
greatest_increase = ["",  9999999]
greatest_decrease = ["", 0]
revenue_change = []
month_change = []

In [180]:
# total number of months 
budget_data["Profit/Losses"].count()
total_month = budget_data["Profit/Losses"].count()
total_month

86

In [182]:
# The net total amount of Profit/Losses over the entire period
budget_data["Profit/Losses"].sum()
revenue = budget_data["Profit/Losses"].sum()
revenue

38382578

In [185]:
# The average of the changes in Profit/Losses over the entire period
budget_data["Profit/Losses"].mean()
revenue_change = budget_data["Profit/Losses"].mean()
revenue_change

446309.0465116279

In [195]:
# revenue change
budget_data["Profit/Losses"].sum()
budget_data['revenue_change']=budget_data["Profit/Losses"]-budget_data["Profit/Losses"].shift()
budget_data

      Date  Profit/Losses  revenue_change
0   Jan-10         867884             NaN
1   Feb-10         984655        116771.0
2   Mar-10         322013       -662642.0
3   Apr-10         -69417       -391430.0
4   May-10         310503        379920.0
..     ...            ...             ...
81  Oct-16         102685       -665765.0
82  Nov-16         795914        693229.0
83  Dec-16          60988       -734926.0
84  Jan-17         138230         77242.0
85  Feb-17         671099        532869.0

[86 rows x 3 columns]

In [223]:
#Average change in P&L
average_change = budget_data["revenue_change"].mean()

In [224]:
average_change
print(format(average_change,".2f"))

-2315.12

In [205]:
#The greatest increase in profits (date and amount) over the entire period
#Greatest Increase in Profits .... defined as max 
greatest_increase = budget_data["revenue_change"].max()
greatest_increase

1926159.0

In [203]:
#Greatest Increase in date 
budget_data.loc[budget_data["revenue_change"] == budget_data["revenue_change"].max(),'Date']

25    Feb-12
Name: Date, dtype: object

In [204]:
#5 The greatest decrease in losses (date and amount) over the entire period
greatest_decrease = budget_data["revenue_change"].min()
greatest_decrease

-2196167.0

In [206]:
#Greatest decreasse  in date
budget_data.loc[budget_data["revenue_change"] == budget_data["revenue_change"].min(),'Date']

44    Sep-13
Name: Date, dtype: object

In [225]:
print("Financial Analysis")
print("----------------------")
print(f"Total Month:{total_month}")
print(f"Total: ${revenue}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: Feb-2012 $({greatest_increase})")
print(f"Greatest Decrease in Profits: Sep-2013 $({greatest_decrease})")

Financial Analysis
----------------------
Total Month:86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 $(1926159.0)
Greatest Decrease in Profits: Sep-2013 $(-2196167.0)